$primaryColor : "";
$secondaryColor: '#3ACAC0';
$headingColor: '';
$textColor: '';
$borderColor: '#3ACAC0';
$buttonColor: '';
$buttonTextColor: '';

:export{
    primaryColor: $primaryColor;
    secondaryColor: $secondaryColor;
    headingColor: $headingColor;
    textColor: $textColor;
    borderColor: $borderColor;
    buttonColor: $buttonColor;
    buttonTextColor: $buttonTextColor;
}