.header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    align-items: center;
    background-color: #fff;
    color: #4C5470;
    text-align: center;
    padding: 10px 0px;
   
  }
  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
  }
  a{
    text-decoration: none;
    color: #4C5470;
  }
  .titleText{
    /* //align-items: center; */
    width: 100%;
    margin: auto;
    position: absolute;
    padding-bottom: 10px;
  }
  .title{
    display: flex;
    align-items: left;
    justify-content: flex-start;
    color: #4C5470;
    padding-bottom: 10px;
    padding-left: 15px;
    cursor: pointer;
  }
  .options {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    color: #4C5470;
    
  }
  .option {
    padding-bottom: 10px;
    padding-right: 15px;
    cursor: pointer;
    color:#4C5470;
  }